#container{
    width:100%;
    
}
#days{
    width:20%;
}
#case_id{
    width:20%;
}
#status{
    width:20%;
}
#value{
    width:20%;
}
div{
    float:left;
}
#innerContainer{
    margin-top:5%;
    height:500px;
    overflow:scroll;
    overflow-x:hidden;
    margin-right:10%;
    margin-left:10%;
    margin-bottom: 10%;
}
span{
 margin-left:10%;
 margin-top:25px;
}
.row:nth-of-type(odd) {
    background: #e0e0e0;
}
.chart .legend {
  fill: black;
  font: 14px sans-serif;
  text-anchor: start;
  font-size: 12px;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.chart .label {
  fill: black;
  font: 14px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: brown;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}